
body{
    background-color: blueviolet;
     

}
.todo{
    width: 300px;
    height: auto;
    background-color: aliceblue;
    padding: 20px;
    margin:0 auto;
    
    position: relative;
}
.heading{
    text-align: center;
}
.Input-task{
    width: 300px;
    height: 30px;
    outline:none;
    background-color: aliceblue;
   text-align: center;
}
.Addtask{
font-size: 16px;
   background-color: orangered; 
   padding:5px;
   border-radius: 6px;
   transform: translate(150%, 10%);
}

ul li{
    list-style: none;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(221, 225, 226, 0.346);
    width: 230px;
}
.list-task li::before{
    content:'';
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(img/checkbox-blank-circle-line.png);
    left: 25px;
}

li.checked::before{
    /* display: none; */
    background-image: url(img/checkbox-circle-line\ \(1\).png);
   
}

.list-task li span{
    position: absolute;
    right: 0;
     margin: 0 10px 0px 0;
     font-size: 30px;
     cursor: pointer; 
    color:rgb(255, 0, 0);
}
